* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* setting the background color for the whole body */
body {
  background-color: #d9dcd6;
}

/* setting up the header background color fontfamily and text color */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* styling the h1 tag in header seperate from other header elements */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* styling the span element inside the h1 tag specifically */
header h1 .seo {
  color: #d9dcd6;
}

/* styling the navigational menu in header section to be on right of page with a little bit
of margin and padding with font style and size */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* styling the list items in nav of header to display them in a single line and with a bit of margin
and making the list style without any dots or numbers besides them */
header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
  margin: 20px;
}

.content-section {
  max-height: 200px;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.benefit-section {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

/* 
.benefit-brand .benefit-lead {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost {
  display: block;
  margin: 10px auto;
  max-width: 150px;
} */

/* 
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
} */

/* 
.search-engine-optimization {
  max-height: 200px;
}

.online-reputation-management {
  max-height: 200px;
}

.social-media-marketing {
  max-height: 200px;
}

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
} */

/* 
header nav ul {
  list-style-type: none;
} */

/*
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
} */
/*
overrides the other attribute for margin

 .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-brand h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-lead  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */
